footer{
  margin-top: 4%;
  padding: 4%;
  border-top: 1px dashed black;
  background-color: white;
  color: var(--color);
  transition: color .4s;
  font-size: large;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}


.gap-1 {
  gap: 1rem;
}





.profile p:hover{
      padding: 10px;
      border: 2px solid blue;


  text-shadow: 4px 10px 10px rgba(0, 0, 0, .8);
  padding: 10px;
  svg{
    fill: blue!important;
  }
  a{
    color: blue!important;
  }
}

.profile{

  svg, p, a{
    transition: 1s;
  }
}